<div >
  <div  class="col-md-12" id="header" class="col-md-12">
      <h1>Fin App</h1>
  </div>
  <div >
    <p-menubar [model]="items" id="menu">
      <!-- <div>
          <input type="text" pInputText placeholder="Search">
          <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em"></button>
      </div> -->
  </p-menubar>
  </div>
  <div class="col-md-12" id="content">
    <!-- <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav> -->
  </div>
</div>
