#header{
    background-color:#ebedf0;
    height: 100px;
}

::ng-deep #menu .ui-menubar .ui-menubar-root-list>.ui-menuitem>.ui-menuitem-link{
    padding: 0px;
    padding-right: 50px;    
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    padding-right: 50px;
}