<p>
Welcome to Fin App</p>

Test
<button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-default"><span class="fa fa-search"></span> Search</button>
<button type="button" class="btn btn-primary fa fa-search ">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
